* {
  box-sizing: border-box;
}

:root {
  --navy-blue: #05445e;
  --baby-blue: #d4f1f4;
  --blue-green: #75e6da;
  --blue-grotto: #189ab4;
  --complementary-color: #e68519;
  --background-color: #140021;
  min-height: 100vh;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--background-color);
  background-image: url(../src/assets/layered-steps-bg.svg);
  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--navy-blue);
  position: relative;
  
}

#root {
  background-color: rgb(5, 68, 94, 0.1);
  width: 100vw;
  height: 100vh;
  position: absolute;
}
